form{
background-color: aqua;
width: 500px;
margin: auto;
padding: 30px;
border-radius: 10px;
box-shadow: 8px 8px 10px black;

}
h1{
font-size: 40px;
text-shadow: 8px 8px 10px rgb(51, 42, 42);

}
label{
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
input[type=text],input[type=email],input[type=password],input[type=tel],input[type=date],input[type=datetime-local],input[type=file],select{
width: 100%;
height: 30px;
border-radius: 10px;
border: none;
margin-top: 10px;
box-shadow: 0 0 12px grey;
padding-left: 10px;



}
button{
background-color: burlywood;
padding: 10px;
border-radius: 10px;
margin: auto;
display: flex;


}
body{
background-image: url("../assets/bkg.png");
background-repeat: no-repeat;
background-size: cover;


}